.button {
  width: 100px;
  margin: 10px 0;
  align-self: center;
  width: 200px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: #fff;
  text-transform: uppercase;
  color: rgb(245, 53, 53);
  font-weight: 500;
  -webkit-box-shadow: 5px 4px 11px 1px rgba(64, 90, 111, 0.39);
  -moz-box-shadow: 5px 4px 11px 1px rgba(64, 90, 111, 0.39);
  box-shadow: 5px 4px 11px 1px rgba(64, 90, 111, 0.39);
}

.button:hover,
.button:focus {
  font-weight: bold;
}
